

@media screen and (max-width: 1200px) {
        aside {

      width: 100%;
    }

    article {
          width: 100%;
    }
}

aside {
  float: right;
  margin: 0 1.5%;
  width: 30%;
}

article {
    margin-left: 30px;
      width: 50%;
}